/*
  This is a reasonable starting point for the CSS in Mock.
  Positioning in CSS can sometimes be annoying to manage, so we've opted to 
  give you this starter CSS. Feel free to modify it as you wish, though.
*/

.repl {
  position: relative;
  min-height: 95vh;
}

.repl-history {
  height: 45vh;
  margin: auto;
  display: block;
  overflow: scroll;
}

.repl-input {
  margin: auto;
  height: 10vh;
}
.repl-command-box {
  width: 90%;
  margin: auto;
  display: block;
}
button {
  margin: auto;
  display: block;
}

/**
* Style for tables for view/search
*/
.Output-Table {
  table-layout: fixed;
  width: 100%;
}

/**
* Style for datum in tables for view/search
*/
.Output-Datum {
  background-color: #96d4d4;
  border: 1px solid black;
}
